In [364]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['imbd-sf']

In [365]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [366]:
len(data)

1890

# Предобработка датасета

In [367]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [368]:
data[data.budget == data.budget.max()][['original_title', 'imdb_id']]

        original_title    imdb_id
491  The Warrior's Way  tt1032751

In [369]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [370]:
data[data.runtime == data.runtime.max()][['original_title', 'imdb_id']]

         original_title    imdb_id
1158  Gods and Generals  tt0279111

In [371]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [372]:
data[data.runtime == data.runtime.min()][['original_title', 'imdb_id']]

      original_title    imdb_id
769  Winnie the Pooh  tt1449283

In [373]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [374]:
data.runtime.mean()

109.65343915343915

In [375]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [376]:
data.describe()['runtime']

count    1890.000000
mean      109.653439
std        18.013641
min        63.000000
25%        97.000000
50%       106.500000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [377]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [378]:
data['profit']=data['revenue']-data['budget']

In [379]:
data[data.profit == data.profit.max()][['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

In [380]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [381]:
data[data.profit == data.profit.min()][['original_title', 'imdb_id']]

        original_title    imdb_id
491  The Warrior's Way  tt1032751

In [382]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [383]:
len(data[data.profit > 0])

1478

In [384]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [385]:
data[data.release_year == 2008].sort_values(by='profit', ascending=False)[['original_title', 'imdb_id', 'profit']]

                                        original_title    imdb_id     profit
600                                    The Dark Knight  tt0468569  816921825
604  Indiana Jones and the Kingdom of the Crystal S...  tt0367882  601636033
608                                         Mamma Mia!  tt0795421  557841637
607                                      Kung Fu Panda  tt0441773  501744560
622                                            Hancock  tt0448157  474029371
..                                                 ...        ...        ...
669                                        Speed Racer  tt0811080  -26054234
706                                        The Express  tt0469903  -30206504
683                                      City of Ember  tt0970411  -37130952
680                                          Outlander  tt0462465  -42966317
637                                          Australia  tt0455824  -80445998

[121 rows x 3 columns]

In [386]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [387]:
data[(2012 <= data.release_year) & (data.release_year <= 2014)].sort_values(by='profit')[['original_title', 'imdb_id', 'profit']]

                       original_title    imdb_id      profit
1246                  The Lone Ranger  tt1210819  -165710090
1215                         R.I.P.D.  tt0790736   -68351500
1008                      Upside Down  tt1374992   -51893525
1303  Legends of Oz: Dorothy's Return  tt0884726   -51337973
1236               Bullet to the Head  tt1308729   -45510171
...                               ...        ...         ...
1190                  Despicable Me 2  tt1690953   894761885
975                           Skyfall  tt1074638   908561013
1181                       Iron Man 3  tt1300854  1015439994
1178                           Frozen  tt2294629  1124219009
971                      The Avengers  tt0848228  1299557910

[367 rows x 3 columns]

In [388]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [389]:
genres = set()
for x in data.genres.apply(lambda x: x.split("|")):
     genres |= set(x)
#print(genres)

In [390]:
genres_count = [(len(data[data.genres.str.contains(x)]) , x) for x in genres]
genres_count.sort(reverse=True)
print(genres_count[0])

(782, 'Drama')

In [391]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [392]:
profitable_genres_count = [(len(data[(data.genres.str.contains(genre)) & (data.profit > 0)]), genre) for genre in genres]
profitable_genres_count.sort(reverse=True)
print(profitable_genres_count[0])

(560, 'Drama')

In [393]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [394]:
data.groupby(['director']).size().sort_values(ascending=False)

director
Steven Soderbergh                  13
Ridley Scott                       12
Clint Eastwood                     12
Shawn Levy                         10
Steven Spielberg                   10
                                   ..
Marcel Langenegger                  1
Mabrouk El Mechri                   1
Louis Leterrier|Corey Yuen Kwai     1
Liz Friedlander                     1
Aaron Seltzer|Jason Friedberg       1
Length: 958, dtype: int64

In [395]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [396]:
data[data.profit > 0].groupby(['director']).size().sort_values(ascending=False)

director
Ridley Scott                      12
Steven Spielberg                  10
Steven Soderbergh                 10
Clint Eastwood                    10
Shawn Levy                         9
                                  ..
Rob Bowman                         1
Ricky Gervais|Matthew Robinson     1
Joel Coen|Ethan Coen               1
Joel Edgerton                      1
Aaron Seltzer|Jason Friedberg      1
Length: 774, dtype: int64

In [397]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [398]:
data.groupby(['director']).agg('sum')['profit'].sort_values(ascending=False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

In [399]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [400]:
actors=set()
for x in data.cast.apply(lambda x: x.split('|')):
    actors |= set(x)
#print(actors)

In [401]:
actors_profitability=[(data[data.cast.str.contains(actor)]['profit'].sum() , actor) for actor in actors]
#print(actors_profitability)
actors_profitability.sort(reverse=True)
actors_profitability[0]

(6666245597, 'Emma Watson')

In [402]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [403]:
actors_profitability_in_2012=[(data[(data.release_year == 2012) & (data.cast.str.contains(actor))]['profit'].sum() , actor) for actor in actors]
actors_profitability_in_2012.sort()
actors_profitability_in_2012[0]

(-68109207, 'Kirsten Dunst')

In [404]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [405]:
mean_budget = data['budget'].mean()
actors_movie_count=[(len(data[(data.budget >= mean_budget) & (data.cast.str.contains(actor))]) , actor) for actor in actors]
actors_movie_count.sort(reverse=True)
actors_movie_count[0]

(18, 'Matt Damon')

In [406]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [407]:
cage_movies_count = [(len(data[(data.genres.str.contains(g)) & (data.cast.str.contains('Nicolas Cage'))]) , g) for g in genres]
cage_movies_count.sort(reverse=True)
print(cage_movies_count[0])

(17, 'Action')

In [408]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [409]:
movies_to_studios=[]
for index, d in data.iterrows():
    movies_to_studios += ([(d.imdb_id, x) for x in d.production_companies.split('|')])
#print(movies_to_studios)

studios=pd.DataFrame(movies_to_studios, columns=['imdb_id', 'studio'])
#print(studios)

In [410]:
data.merge(studios, on='imdb_id').groupby('studio').agg('count').sort_values(by='imdb_id', ascending=False)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
studio,,,,,,,,,,,,,,,,,
Universal Pictures,173,173,173,173,173,173,173,173,173,173,173,173,173,173,173,173,173
Warner Bros.,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168
Paramount Pictures,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122
Columbia Pictures,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117
Twentieth Century Fox Film Corporation,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
IFP Westcoast Erste,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
IDEA Filmproduktions,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ICF,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
I Remember Productions,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
uFilm,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [411]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [412]:
data[data.release_year == 2015].merge(studios, on='imdb_id').groupby('studio').agg('count').sort_values(by='imdb_id', ascending=False)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
studio,,,,,,,,,,,,,,,,,
Warner Bros.,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Universal Pictures,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Twentieth Century Fox Film Corporation,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Columbia Pictures,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Paramount Pictures,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Head Gear Films,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Huayi Brothers Media,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Illumination Entertainment,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ImageMovers,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Zippcast Films,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [413]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [414]:
data[data.genres.str.contains('Comedy')].merge(studios, on='imdb_id').groupby('studio').agg('sum').sort_values(by='profit', ascending=False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
studio,,,,,,,,
Universal Pictures,116.025951,3826400000,12787945581,7926,46567,447.1,150539,8961545581
Walt Disney Pictures,81.307432,3845000000,11514710326,4421,43493,274.2,90335,7669710326
Twentieth Century Fox Film Corporation,68.632964,2406000000,8092960294,4372,33441,259.7,88326,5686960294
Columbia Pictures,84.290987,3740800000,9387143696,6380,39644,367.2,124504,5646343696
DreamWorks Animation,32.437293,1916000000,6705049764,1540,18104,110.3,34118,4789049764
...,...,...,...,...,...,...,...,...
Warner Bros. Pictures,3.047838,232000000,177261313,461,520,26.2,10027,-54738687
Shangri-La Entertainment,0.991683,65000000,9829214,188,96,10.0,4019,-55170786
Dark Horse Entertainment,1.689869,130000000,61648500,96,876,5.3,2013,-68351500
Road Rebel,0.640576,120000000,48668907,121,136,4.9,2010,-71331093
Mel's Cite du Cinema,0.912373,100000000,7103973,95,75,4.6,2002,-92896027

In [415]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [416]:
data[data.release_year == 2012].merge(studios, on='imdb_id').groupby('studio').agg('sum').sort_values(by='profit', ascending=False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
studio,,,,,,,,
Columbia Pictures,26.856165,967000000,3468406608,1226,26933,64.2,20120,2501406608
Universal Pictures,22.154145,920000000,2901011579,1295,14131,67.2,22132,1981011579
Marvel Studios,7.637767,220000000,1519557910,143,8903,7.3,2012,1299557910
Warner Bros.,12.593044,611500000,1869520056,579,11729,30.0,10060,1258020056
Relativity Media,21.538410,669000000,1701593938,1499,10911,77.7,26156,1032593938
...,...,...,...,...,...,...,...,...
Jouror Productions,1.690572,60000000,8106475,104,695,6.1,2012,-51893525
Studio 37,1.690572,60000000,8106475,104,695,6.1,2012,-51893525
Transfilm,1.690572,60000000,8106475,104,695,6.1,2012,-51893525
Onyx Films,1.690572,60000000,8106475,104,695,6.1,2012,-51893525
France 2 CinÃ©ma,2.602438,105500000,22954349,350,1091,16.5,6036,-82545651

In [417]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [442]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by='profit', ascending=True)[['original_title', 'imdb_id', 'profit']]

                                         original_title    imdb_id     profit
926                                K-19: The Widowmaker  tt0267626  -64831034
1124                                           Timeline  tt0300556  -60519261
1723                                               Next  tt0435705  -51788987
1624                                              Alfie  tt0375173  -46604061
1632                                            Twisted  tt0315297  -24805000
...                                                 ...        ...        ...
731                Mission: Impossible - Ghost Protocol  tt1229238  549713380
1739                                       Transformers  tt0418279  559709780
604   Indiana Jones and the Kingdom of the Crystal S...  tt0367882  601636033
317                 Transformers: Revenge of the Fallen  tt1055369  686297228
829                      Transformers: Dark of the Moon  tt1399103  928746996

[122 rows x 3 columns]

In [418]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [419]:
data.groupby('release_year').agg('sum')['profit'].sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [420]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [446]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year').agg('sum')['profit'].sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [421]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [422]:
data['release_month'] = pd.to_datetime(data.release_date).apply(lambda x: x.month)
#data.head()

In [423]:
data.groupby('release_month').agg('count').sort_values('imdb_id', ascending=False)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
release_month,,,,,,,,,,,,,,,,,
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227
12,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110

In [424]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [425]:
len(data[data.release_month.isin([6, 7, 8])])

450

In [426]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [427]:
data[data.release_month.isin([1, 2, 12])].groupby('director').agg('count').sort_values('imdb_id', ascending=False)

,imdb_id,popularity,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
director,,,,,,,,,,,,,,,,,
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Steven Soderbergh,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Clint Eastwood,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Adam Shankman,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Nancy Meyers,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GÃ¡bor CsupÃ³,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Guy Ritchie,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Guy Ferland,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Gus Van Sant,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Will Gluck,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [428]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [473]:
pivot = data.loc[data['release_month'].isin(['1','2','3','4', '5', '6', '7', '8', '9', '10', '11', '12'])].pivot_table(values=['profit'], index=['release_year'], columns=['release_month'], aggfunc='sum')
#display(pivot)
pivot.idxmax(axis=1).value_counts()
#pivot.head()

(profit, 6)     7
(profit, 12)    4
(profit, 5)     4
(profit, 7)     1
dtype: int64

In [429]:
answer_ls.append(1)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [430]:
data['name_len'] = data.original_title.apply(len)
#data.head()

In [431]:
studios.merge(data, on='imdb_id').groupby('studio').agg('mean').sort_values('name_len', ascending=False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit,release_month,name_len
studio,,,,,,,,,,
Four By Two Productions,1.930735,18000000.0,261572744.0,82.0,979.0,6.4,2006.0,243572744.0,11.0,83.0
"Jim Henson Company, The",0.876514,28000000.0,100654149.0,81.0,380.0,6.2,2014.0,72654149.0,10.0,59.0
Dos Corazones,0.628612,12000000.0,9622846.0,145.0,20.0,6.8,2012.0,-2377154.0,6.0,47.0
Polsky Films,0.643829,25000000.0,10589102.0,122.0,157.0,5.8,2009.0,-14410898.0,9.0,46.0
Museum Canada Productions,1.752134,150000000.0,413106170.0,105.0,1108.0,5.9,2009.0,263106170.0,5.0,46.0
...,...,...,...,...,...,...,...,...,...,...
Everest Entertainment,0.864697,10000000.0,21587700.0,130.0,739.0,6.9,2013.0,11587700.0,5.0,3.0
Berlanti Productions,2.234573,150000000.0,128388320.0,111.0,586.0,5.9,2015.0,-21611680.0,9.0,3.0
Global Entertainment Group,0.282905,25100000.0,29506464.0,131.0,71.0,5.6,2008.0,4406464.0,10.0,2.0
XM2 Productions,0.175002,110000000.0,214948780.0,133.0,2222.0,6.7,2003.0,104948780.0,4.0,2.0
Ixtlan Productions,0.282905,25100000.0,29506464.0,131.0,71.0,5.6,2008.0,4406464.0,10.0,2.0

In [432]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [433]:
data['len_words'] = data.original_title.apply(lambda x: len(x.split()))
#data.head(1)

In [434]:
studios.merge(data, on='imdb_id').groupby('studio').agg('mean').sort_values('len_words', ascending=False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit,release_month,name_len,len_words
studio,,,,,,,,,,,
Four By Two Productions,1.930735,18000000.0,261572744.0,82.0,979.0,6.4,2006.0,243572744.0,11.0,83.0,12.0
"Jim Henson Company, The",0.876514,28000000.0,100654149.0,81.0,380.0,6.2,2014.0,72654149.0,10.0,59.0,10.0
Dos Corazones,0.628612,12000000.0,9622846.0,145.0,20.0,6.8,2012.0,-2377154.0,6.0,47.0,9.0
Polsky Films,0.643829,25000000.0,10589102.0,122.0,157.0,5.8,2009.0,-14410898.0,9.0,46.0,9.0
The Saul Zaentz Company,8.335347,86000000.0,898827882.0,178.5,5596.5,7.8,2001.5,812827882.0,12.0,43.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
Jolie Pas,1.769987,65000000.0,163442937.0,137.0,981.0,7.2,2014.0,98442937.0,12.0,8.0,1.0
Frantic Films,1.129322,100000000.0,82102379.0,104.0,415.0,4.3,2004.0,-17897621.0,7.0,8.0,1.0
Outpost Studios,1.145724,15000000.0,8459458.0,96.0,297.0,5.9,2009.0,-6540542.0,3.0,5.0,1.0
Cinelou Films,2.692691,7000000.0,2360281.0,102.0,255.0,6.1,2014.0,-4639719.0,9.0,4.0,1.0
Danjaq,6.200282,245000000.0,880674609.0,148.0,3254.0,6.2,2015.0,635674609.0,10.0,7.0,1.0

In [435]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [436]:
answer_ls.append(1)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

(6.468, 6.516]    105
(5.892, 5.94]     101
(5.988, 6.036]    100
(6.084, 6.132]    100
(6.18, 6.228]      97
                 ...
(6.804, 6.852]      0
(4.74, 4.788]       0
(6.9, 6.948]        0
(4.644, 4.692]      0
(5.652, 5.7]        0
Name: vote_average, Length: 100, dtype: int64

In [437]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [438]:
answer_ls.append(1)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [439]:
answer_ls.append(1)

# Submission

In [440]:
len(answer_ls)

36

In [441]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       1
30  31       5
31  32       5
32  33       1
33  34       1
34  35       1
35  36       1